<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ order.name }}</title>
</head>
<body>
    <h1>{{ order.name }}</h1>
    <p>{{ order.description }}</p>
    {% for item in order.items.all %}
        <p>   {{ item.name }} | {{ item.price }} {{ item.currency }} | {{ item.description }}</p>
    {% endfor %}
    <p>Цена: {{ order.total_price }} руб.</p>
    <button id="checkout_button">Купить</button>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        // Код частично скопирован из item_detail
        document.getElementById('checkout_button').addEventListener('click', function() {
            // Отправка запроса на /buy_order/{id}
            fetch('/api/buy_order/{{ order.id }}')
                .then(response => response.json())
                .then(data => {
                    // Перенаправление пользователя на checkout
                    var stripe = Stripe('pk_test_51OPTRBI94bcLY9kP8YIZliLpidbgfiw9S4deGNYMDraIGqDPOyAW4ZTMriuYYOlRaA1ErAYhxywZd83d1AeyZpj400wDF7FHnD');
                    stripe.redirectToCheckout({
                        sessionId: data.session_id
                    }).then(function(result) {
                        // Обработка ошибок, если таковые имеются
                        if (result.error) {
                            alert(result.error.message);
                        }
                    })
                })
        })
    </script>
</body>
</html>